.cost-display {
    position: absolute;

    top: 6px;
    right: 6px;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 3px;

    /* Don't stretch the column */
    justify-content: flex-start;
}



.cost-circle {
    width: clamp(18px, calc(36px - (var(--cost-count) - 1) * 2px), 34px);
    height: clamp(18px, calc(36px - (var(--cost-count) - 1) * 2px), 34px);

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    color: white;

    border: 2px solid white;
}

