.gallery-page {
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
    width: 100%;
}

.card-grid-item {
    cursor: pointer;
    display: flex;
    justify-content: center;
}
