.color-selector {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    justify-items: center;
    align-items: center;
}

.color-selector > :first-child {
    grid-column: span 4;
}
 
@media (max-width: 900px) {
    .color-selector {
        grid-template-columns: repeat(1, 1fr);
    }
    .color-selector > :first-child {
        grid-column: span 1;
    }
}